@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

:root {
  --bg-color: rgb(22, 22, 22);
  --main-color: rgb(117, 255, 230);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  height: 100vh;

  background-color: var(--bg-color);
  color: var(--main-color);
  font-family: 'Inter', sans-serif;
}

#greetings {
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: center;
  align-items: center;
  user-select: none;
}

#greetings > #clock {
  font-size: 6rem;
}

#greetings > #hello {
  font-size: 2rem;
}
